<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642043882154-p1tpl4fjnmifd01cq1o4nn95f48tc342.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642043882154-p1tpl4fjnmifd01cq1o4nn95f48tc342</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7eH_a197vH2r6wF3jo-Iyow8zS1kI6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>642043882154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Xiaohao-Li.Instergram-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instergramfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>instergramfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:642043882154:ios:1150585ce89ef758</string>
	<key>DATABASE_URL</key>
	<string>https://instergramfirebase.firebaseio.com</string>
</dict>
</plist>